<section class="flex justify-center">
    <mat-card class="w-full md:w-1/2 p-4">
        <mat-card-title class="text-center">
            Time to start a workout
        </mat-card-title>
        <mat-card-content class="text-center pt-4">
            <mat-form-field>
                <mat-label> Select Type of training</mat-label>
                <mat-select>
                    <!-- @for () { -->
                    <mat-option value="crunches">{{"Crunches"}}</mat-option>
                    <mat-option value="touch-toes">{{"Touch Toes"}}</mat-option>
                    <mat-option value="side-lunges">{{"Side Lunges"}}</mat-option>
                    <mat-option value="burpees">{{"Burpees"}}</mat-option>
                    <!-- } -->
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="justify-center">
            <button type="submit" mat-button (click)="onStartTraining()">Start</button>
        </mat-card-actions>
    </mat-card>
</section>
